* text=auto
/.pnp.js binary linguist-generated
/.yarn/** linguist-vendored
/.yarn/plugins/*.js binary linguist-vendored
/.yarn/releases/*.js binary linguist-vendored

/packages/*/lib/**/*.js linguist-generated
/packages/*/lib/**/*.d.ts text -diff linguist-generated
/packages/*/esm/**/*.js linguist-generated
/packages/*/esm/**/*.d.ts text -diff linguist-generated
/packages/*/bundles/**/*.js binary linguist-generated
